body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box-navbar{
    height: 70px;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    background-color: #9CBD37;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu a:hover {
    color: white;
}

.main-page {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 40px auto;
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid #333;
    flex: 1;
}

.main-page a {
    text-decoration: none;
    color: #00ff78;
}

.footer {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 20px auto;
    padding: 15px 20px;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
}

.footer a {
    text-decoration: none;
    color: Black;
    font-weight: bold;
}

.footer a:hover {
    color: cornsilk;
}

.footer hr {
    width: 90%;
    border: 0;
    border-top: 1px solid #717171;
    margin: 10px auto;
}

.back-on-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: black;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #9CBD37;
}

.back-on-top a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.back-on-top:hover {
    background: #1bba35;
    transform: scale(1.05);
}


.back-on-top:hover a {
    color: black;
}